
  img{
	
	
	width: 800px;
	height: 600px;
	    border-radius: 20px;
}
.bodyBack{
	 background-image:linear-gradient(to right,red, #f06d06);
}
nav .menu{
	list-style: none;
}
nav .menu {
	
	list-style-image:url("../img/images.png");
	background-image: url("../img/header_bg.png");
	background-size: cover;
}
